.parent-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* height: 100vh; */
  width: 100vw;
  overflow: hidden;
}

.contact-us {
  min-height: 92vh;
  overflow-x: hidden;
}

.contact-us-img {
  margin-top: clamp(16px, 0.6vw, 0.6vw);
  margin-bottom: clamp(16px, 2vw, 2vw);
  /* max-width: 100%;*/
  max-height: 2000px;
  width: clamp(300px, 58vw, 58vw);
  height: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* object-fit: cover; */
}

.overlay-content {
  position: absolute;
  color: rgb(101, 100, 100);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: clamp(60px, 10vw, 10vw);
  width: 35%;
  /* margin-top: 3vw; */
}

.overlay-text {
  font-size: 1.8vw;
  letter-spacing: 0.6px;
  line-height: normal;
  font-weight: bold;
}

.motivation {
  margin-top: 20px;
  font-size: 1.2vw;
  line-height: 1.5;
}
.heading {
  font-weight: bold;
}

.contact-details {
  margin-top: 2vw;
  font-size: 1.2vw;
  line-height: 1.5;
}

.contact-details a {
  color: #007bff;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

.location {
  margin-top: 2vw;
  font-weight: bold;
  font-size: 1.5vw;
  color: #007bff;
}

.location-icon {
  font-size: 1.4vw;
  height: auto;
  width: auto;
}

@media (min-width: 2500px) {
  .overlay-content {
    margin-top: 3vw;
  }
}

@media (max-width: 790px) {
  .overlay-content {
    margin-left: clamp(70px, 10vw, 10vw);
    margin-top: 3vw;
  }
}

@media (max-width: 420px) {
  .overlay-content {
    width: 50%;
    margin-left: clamp(60px, 10vw, 10vw);
  }

  .overlay-text {
    font-size: 8px;
  }

  .motivation {
    font-size: 6px;
  }

  .contact-details {
    font-size: 6px;
  }

  .location {
    font-size: 6px;
  }

  .location-icon {
    font-size: 6px;
  }
}
