<div class="contact-us">
  <div class="parent-contact-us">
    <img
      class="contact-us-img"
      src="assets/contactUs.png"
      alt="Web Development"
    />

    <!-- Overlay container for text and contact details -->
    <div class="overlay-content">
      <div class="overlay-text">
        Get in touch to discuss your project, request a quote, or even just to
        pick our brains.
      </div>

      <div class="motivation">
        <p class="heading">1. Free technical consultation</p>
        <p>
          Detailed tech plan includes things like what tech stack to use, tech
          architecture, timeline, and budget for your project.
        </p>

        <p class="heading">2. Connect with the tech team</p>
        <p>
          Over a series of calls, our tech team discusses how different
          technologies and frameworks will bring your vision to life.
        </p>

        <p class="heading">3. Onboarding the team</p>
        <p>
          As soon as you sign-off on the team, they’ll be ready to integrate
          into your team just like in-house employees.
        </p>
      </div>
      <!-- Contact Details Section within the overlay -->
      <div class="contact-details">
        <p class="location">
          <mat-icon class="location-icon">location_on</mat-icon> India
        </p>
        <p>
          <strong>Address:</strong> Plot no. 221, 27th main rd, HSR sector 1,
          Bengaluru, 560102
        </p>
        <p>
          <strong>Email:</strong>
          <a href="mailto:support@sitemingle.in"> support&#64;sitemingle.in</a>
        </p>
        <p>
          <strong>Phone:</strong>
          <a href="tel:+917624816718"> +91 7624 816 718</a>
        </p>
      </div>
    </div>
  </div>
</div>
