.headerComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: white;
  height: 3.7vw;
}

.logo {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin: 0;
  margin-left: calc(6vw - 5.5vw);
  margin-right: 6vw;
  font-family: "Georgia", serif;
  font-size: clamp(30px, 2.3vw, 2.3vw);
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
}

.logo:hover {
  color: gray;
}

.logo-icon {
  display: flex;
  align-items: center;
  width: clamp(62px, 5vw, 5vw);
  height: auto;
  object-fit: contain;
}

.nameAndTagline {
  margin-top: clamp(14px, 1vw, 1vw);
  margin-left: clamp(7px, 0.5vw, 0.5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1px;
}

.tagline {
  font-size: clamp(8px, 0.6vw, 0.6vw);
  width: clamp(190px, 15vw, 15vw);
  letter-spacing: clamp(0.5px, 0.01vw, 0.01vw);
}

.mat-group {
  position: relative;
  display: flex;
  justify-content: center; /*horizontal center*/
  gap: 2vw;
  align-items: center; /*vertical center*/
  width: 100%;
}

.mat-tab {
  padding: 2vw 2vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: clamp(18px, 1.5vw, 1.5vw);
  font-weight: lighter;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: gray;
  transition: color 0.3s ease;
}

.mat-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1.2vw;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease;
}

.mat-tab:hover {
  color: #007bff;
}

.mat-tab:hover::after {
  width: 100%;
}

.contactButton {
  position: relative;
  align-items: center;
  margin-right: 12.4vw;
  margin-left: 6vw;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: clamp(16px, 1.3vw, 1.3vw);
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  width: clamp(210px, 18vw, 18vw);
}

.contactButton:hover {
  background-color: aliceblue;
  color: #007bff;
  border: 2px solid #007bff;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .headerComponent {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .logo {
    position: static;
    margin: 0;
    text-align: center;
    margin-right: 6vw;
    margin-left: 6vw;
  }

  .mat-group {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
  }

  .contactButton {
    position: static;
    margin-top: 10px;
    margin-right: 6vw;
    margin-left: 6vw;
  }
}
