<div class="home-container">
  <h1 class="tag-line">
    Delivering expert web development services with the latest industry leading
    technologies
  </h1>
  <h2 class="tag-line-sub">
    Leverage modern web frameworks to develop scalable and future-ready
    progressive web apps
  </h2>
  <div class="parent-container">
    <button
      mat-flat-button
      class="contactButton"
      (click)="navigateTo('ContactUs')"
    >
      Let's get started!
    </button>
  </div>
  <div class="parent-web-photo">
    <img
      class="web-photo"
      src="assets/webDevelopment.png"
      alt="Web Development"
    />
  </div>
</div>
