<div class="home-container">
    <h1 class="tag-line">Building Digital Experiences with Expertise and Passion.</h1>
    <h2 class="tag-line-sub">At SiteMingle, we specialize in delivering world-class web development solutions with over 5 years of professional experience in leading multinational companies. Our team of experts is committed to transforming your ideas into fully functional and dynamic websites that drive results.</h2>

        <h2 class="tag-line-sub">We believe in leveraging cutting-edge technologies and user-centered designs to create websites that not only look great but perform excellently. From intuitive UI/UX to robust back-end architecture, we ensure every project is crafted with precision and care.</h2>
        
        <h2 class="tag-line-sub">Whether you're a startup, small business, or large enterprise, our dedication to quality and passion for technology make us the perfect partner for your digital journey.</h2>

        <h1 class="tag-line-2">Web Development Technologies We Use</h1>
    </div>
    <mat-tab-group id="tab-group">
        <mat-tab label="Programming Languages">
          <div class="logo-container">
            <div class="logo-item">
              <img class="logo" src="assets/Typescript_logo_2020.png" alt="TypeScript logo">
              <span class="logo-caption">TypeScript</span>
            </div>
            <div class="logo-item">
              <img class="logo" src="assets/JavaScript-logo.png" alt="JavaScript logo">
              <span class="logo-caption">JavaScript</span>
            </div>
            <div class="logo-item">
              <img class="logo" src="assets/css.png" alt="CSS logo">
              <span class="logo-caption">CSS</span>
            </div>
            <div class="logo-item">
              <img class="logo" src="assets/HTML5_logo_and_wordmark.png" alt="HTML logo">
              <span class="logo-caption">HTML</span>
            </div>
            <div class="logo-item">
              <img class="logo" src="assets/Python-logo-notext.png" alt="Python logo">
              <span class="logo-caption">Python</span>
            </div>
            <div class="logo-item">
              <img class="logo" src="assets/go.png" alt="Go logo">
              <span class="logo-caption">Go</span>
            </div>
            <div class="logo-item">
              <img class="logo" src="assets/Logo_C_sharp.png" alt="C# logo">
              <span class="logo-caption">C#</span>
            </div>
            <div class="logo-item">
              <img class="logo" src="assets/ISO_C++_Logo.png" alt="C++ logo">
              <span class="logo-caption">C++</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Databases">Content 2</mat-tab>
        <mat-tab label="Frontend">Content 3</mat-tab>
        <mat-tab label="Backend">Content 4</mat-tab>
        <mat-tab label="Cloud">Content 5</mat-tab>
      </mat-tab-group>
      