<div class="home-container">
    <h1 class="tag-line">Building Digital Experiences with Expertise and Passion.</h1>
    <h2 class="tag-line-sub">At SiteMingle, we specialize in delivering world-class web development solutions with over 5 years of professional experience in leading multinational companies. Our team of experts is committed to transforming your ideas into fully functional and dynamic websites that drive results.</h2>

        <h2 class="tag-line-sub">We believe in leveraging cutting-edge technologies and user-centered designs to create websites that not only look great but perform excellently. From intuitive UI/UX to robust back-end architecture, we ensure every project is crafted with precision and care.</h2>
        
        <h2 class="tag-line-sub">Whether you're a startup, small business, or large enterprise, our dedication to quality and passion for technology make us the perfect partner for your digital journey.</h2>
    </div>